[Desktop Entry]
Name=Selain
Comment=Modal browser
Terminal=false
Type=Application
Version=0.9
Icon=selain
Exec=selain %u
StartupNotify=false
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;
